<h1>Login</h1>
<form action="/login" method="POST">
    <div>
        <label for="mail">Email:</label>    
        <input type="text" name="mail" id="mail" required>
    </div><br>
    <div>
        <label for="pass">Senha:</label>    
        <input type="password" name="pass" id="pass" required>
    </div><br>
    <button type="submit">Enviar</button><br><br>
    <a href="/register">Cadastrar</a>
</form>
